/* SLIDER */


#main-slide {
    background: linear-gradient(to right, rgb(98, 215, 178), rgb(13, 214, 198), rgb(8, 190, 99) 90%);
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.inner-slide {
    margin-top: 130px;
    display: flex;
    align-items: center;
    transition: all .3s linear;
}

.slide-item {
    flex: 1 0 100%;
}

/* SLIDE DOTS */
.slide-dots {
    position: fixed;
    right: 200px;
    bottom: 80px;
}

.list-dots {
    display: flex;
    align-items: center;
}

.dot-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 3px;
    cursor: pointer;
}


/* HEADER */

#header {
    width: 100vw;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.header__logo {
    color: rgb(208, 242, 226);
    font-size: 40px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    letter-spacing: .15em;
    text-shadow: 1px -1px 0 #0996c9, -1px 2px 1px #08a19e, -2px 4px 1px #05b838, -3px 6px 1px #30f03a, -4px 8px 1px #15a2be;
}

.header__logo-name {
    font-weight: 700;
    margin: 0;
    position: relative;
}

.header__logo-name::after {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 40%;
    content: '';
    background-color: rgb(132, 240, 55);
    height: 10px;
    border-radius: 5px;
}

.header__navbar-list {
    display: flex;
    align-items: center;
}

.header__navbar-item {
    padding: 0 20px;
    
}

.header__navbar-link {
    position: relative;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
}

.header__navbar-link::after {
    position: absolute;
    top: 100%;
    content: '';
    left: 0;
    right: 0;
    width: 0;
    height: 4px;
    border-radius: 5px;
    background-color: rgb(224, 235, 19);
    transition: width .3s linear;
}

.header__navbar-item:hover .header__navbar-link {
    color: rgb(84, 80, 80);
}

.header__navbar-item:hover .header__navbar-link::after {
    width: 100%;
}


/* CONTENT */

.left-content {
    padding-top: 130px;
    text-align: left;
}

.right-content-img {
    width: 100%;
}

.left-content-title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 18px;
    color: #fff;
    
}


.left-content-description {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(187, 238, 230);
    line-height: 1.2;
}

.left-content-btn {
    background-color: rgb(227, 236, 53);
    padding: 10px 20px;
    border-radius: 8px;
}

.left-content-btn-link {
    color: rgb(94, 98, 98);
    font-weight: 600;
    font-size: 18px;
}

.left-content-btn:hover {
    background-color: rgb(208, 208, 8);
}

.left-content-btn:hover .left-content-btn-link {
    color: rgb(94, 98, 98);
}

/* Chỉnh sửa thư viện carousel */


/* HOME MEMBER */
.home__members {
    margin-top: 50px;
    padding: 0 150px;
}

.member-wrapper {
    padding: 0 30px;
}

.member-item-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 32px;
    border-radius: 20px;
}

.member-img {
    width: 50%;
    border-radius: 50%;
    border: 3px solid #08a19e;
}

.member-name {
    margin-top: 16px;
    font-weight: 500;
}

.member-major {
    color: rgb(118, 126, 129);
}

.member-description {
    font-style: italic;
}

