/* SLIDER */


#main-slide {
    background: linear-gradient(55deg, rgb(77, 138, 143) 48%, rgb(102, 175, 173) 30%);
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.inner-slide {
    margin-top: 130px;
    display: flex;
    align-items: center;
    transition: all .3s linear;
}

.slide-item {
    flex: 1 0 100%;
}

/* SLIDE DOTS */
.slide-dots {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    text-align: center;
}

.list-dots {
    display: flex;
    align-items: center;
}

.dot-item {
    width: 40px;
    height: 8px;
    border-radius: 12px;
    background-color: #fff;
    margin: 0 3px;
    cursor: pointer;
}


/* HEADER */

#header {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 555;
    width: 100%;
}

.header__wrapper {

}

.header__logo {
    color: rgb(208, 242, 226);
    font-size: 40px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    letter-spacing: .15em;
    text-shadow: 1px -1px 0 #0996c9, -1px 2px 1px #08a19e, -2px 4px 1px #499b9d, -3px 6px 1px #68b6b2, -4px 8px 1px #15a2be;
}

.header__logo-name {
    font-weight: 700;
    margin: 0;
    position: relative;
}

.header__logo-name::after {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 60%;
    content: '';
    background-color: rgb(83, 174, 180);
    height: 8px;
    border-radius: 5px;
}

.header__navbar-list {
    display: flex;
    align-items: center;
}

.header__navbar-item {
    padding: 0 20px;
    
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__navbar-link {
    position: relative;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
}

.header__navbar-link::after {
    position: absolute;
    top: 100%;
    content: '';
    left: 0;
    right: 0;
    width: 0;
    height: 4px;
    border-radius: 5px;
    background-color: rgb(224, 235, 19);
    transition: width .3s linear;
}

.header__navbar-item:hover .header__navbar-link {
    color: rgb(86, 84, 84);
}

.header__navbar-item:hover .header__navbar-link::after {
    width: 100%;
}

.btn-create {
    background-color: rgb(227, 236, 53);
    padding: 8px 16px;
    border-radius: 4444px;
}

.btn-create:hover {
    background-color: rgb(229, 229, 1);
}

.btn-create-link {
    color: rgb(94, 98, 98);
    font-weight: 600;
    font-size: 16px;
}

.btn-create-link:hover {
    color: rgb(94, 98, 98);
}

/* CONTENT */

.left-content {
    padding-top: 130px;
    text-align: left;
}

.right-content-img {
    width: 100%;
}

.left-content-title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 18px;
    color: #fff;
    
}


.left-content-description {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(187, 238, 230);
    line-height: 1.2;
}

.left-content-btn {
    background-color: rgb(227, 236, 53);
    padding: 10px 20px;
    border-radius: 3338px;
}

.left-content-btn-link {
    color: rgb(94, 98, 98);
    font-weight: 600;
    font-size: 18px;
}

.left-content-btn:hover {
    background-color: rgb(208, 208, 8);
}

.left-content-btn:hover .left-content-btn-link {
    color: rgb(94, 98, 98);
}

.social-network {
    text-align: left;
}

.social-link {
    font-size: 20px;
    margin: 0 6px;
    color: #fff;
}

.social-link:hover {
    color: rgb(216, 213, 213);
}

.section-title {
   margin-bottom: 30px;
   color: #fff;
   font-weight: 600;
   display: inline-block;
   position: relative;
}

.section-title::after {
    position: absolute;
    top: 100%;
    left: 0;
    right: 45%;
    content: '';
    height: 5px;
   
}

/* Chỉnh sửa thư viện carousel */


/* HOME MEMBER */
.home__members {
    margin-top: 50px;
    padding: 0 150px;
}

.member-wrapper {
    padding: 0 30px;
}

.member-item-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 32px;
    border-radius: 20px;
}

.member-img {
    width: 50%;
    border-radius: 50%;
    border: 3px solid #08a19e;
}

.member-name {
    margin-top: 16px;
    font-weight: 500;
}

.member-major {
    color: rgb(118, 126, 129);
}

.member-description {
    font-style: italic;
}

